.navbar a{
    color:white;
    
}
.navbar{
    background-color:black;
   
}
.dropdown-menu{
    background-color:black;
}
body{
    background-image: url(../image/murakami_2000x2000.jpg);
    background-size:500px 500px;
  }

  
