
body{
    background-image: url(../image/murakami_2000x2000.jpg);
    background-size:500px 500px;
    color:white;
  }
  .container{
height:500vh;
background-color:black;
text-align:left;
  }
  p{
      font-size:25px;
  }